/**
 ** file: csl-slplus-cleansimplewhite.css
 ** label: Clean Simple White
 ** description: Designed to work with the Mazznoer Clean Simple White WP Theme.
 **
 **/

tr.slp_results_row:hover {
    background-color: #F2F2F2;
}
tr.slp_map_search_results td {
    border: none;
    padding-bottom: 18px;
    vertical-align: text-top;
}
tr.slp_map_search_results td.results_row_left_column {
    width: 240px;
}
tr.slp_map_search_results td.results_row_right_column {
    text-align: right;
}
tr.slp_map_search_results span.location_name {
    font-weight: bold;
}

tr.slp_map_search_results a {
    color: #444444;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
tr.slp_map_search_results a:hover {
    color: #4444FF;
    background-color: #F2F2F2;
}

