/***************************
 * Store Pages Admin Styles
 */

 #icon-Store_Locator_Plus___Store_Pages {
    background: url("StoreLocatorPlus_icons32.png") no-repeat scroll -75px -3px transparent;
}

/* Text formatting */
p.lvl1 {
    margin-left: 18px;
}
p.footernote {
    font-style: italic;
    color: #666666;
}