[submodule "WPCSL-generic"]
	path = WPCSL-generic
	url = ssh://git@cybersprocket.com/home/lobbrary/repos/modules/WPCSL-generic.git
[submodule "core"]
	path = core
	url = ssh://git@cybersprocket.com/home/lobbrary/repos/products/store-locator-core.git
